<!DOCTYPE html>
<html>

<head>
    <title>Video Streaming Service</title>
</head>

<body>
    <ul>
        <% videoFileNames.forEach(fileName => {%>
            <% console.log("Video File name: ", fileName) %>
            <li>
                <a href="<%= "./videos?video=" + fileName %>"><%= fileName %></a>

            </li>

            <% }) %>
    </ul>
</body>

</html>